html {
  background:#ffc600;
  box-sizing: border-box;
  font-family: 'Arial';
  font-size: 20px;
  font-weight: 200;
}

*, *:before, *:after {
  box-sizing: inherit;
}

input {
  padding: 20px;
  width: 100%;
}

.search-form {
  margin: 50px auto;
  max-width: 400px;
}

input.search {
  border-radius: 5px;
  border: 10px solid #F7F7F7;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.12), inset 0 0 2px rgba(0, 0, 0, .19);
  font-size: 40px;
  left: -10%;
  margin: 0;
  outline: 0;
  position: relative;
  text-align: center;
  top: 10px;
  width: 120%;
  z-index: 2;
}

.suggestions {
  margin: 0;
  padding: 0;
  position: relative;
}

.suggestions li {
  background:white;
  border-bottom: 1px solid #D8D8D8;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.14);
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 20px;
  text-transform: capitalize;
  transition: background 0.2s;
}

.suggestions li:nth-child(even) {
  background: linear-gradient(to bottom,  #ffffff 0%,#EFEFEF 100%);
  transform: perspective(100px) rotateX(3deg) translateY(2px) scale(1.001);
}

.suggestions li:nth-child(odd) {
  background: linear-gradient(to top,  #ffffff 0%,#EFEFEF 100%);
  transform: perspective(100px) rotateX(-3deg) translateY(3px);
}

span.population {
  font-size: 15px;
}

.hl {
  background:#ffc600;
}

a {
  background:rgba(0, 0, 0, .1);
  color:black;
  text-decoration: none;
}